/* https://stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css */
#edit-description::placeholder {
   color:    #495057;
}

.page-item.active .page-link {
  background-color: #72c44d !important;
  border-color: #72c44d !important;
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
  background-color: #72c44d !important;
}

.bg-dark {
  background-color: #1d4443 !important;
}

.btn-primary {
  background-color: #72c44d !important;
  border-color: #72c44d !important;
}

#profile-picture-main {
  float: right;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

#profile-picture-small {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 10px;
  border-radius: 50%;
}

.user-profile-buttons {
  float: right;
  padding: 10px;
}

.user-edit-buttons {
  padding: 10px;
}

.user-action-buttons {
  padding: 10px;
}

/* https://www.bootply.com/qjvYXfWLuN */
.row .vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
  height: 100%;
}

.modal-list-button {
  float:right;
  margin-top: 5px;
}

.modal-user-list {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
}

.modal-course-list {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
}

#users {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
}

#courses {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
}

#user-droppable {
  width: 100%;
  height: 110px;
  border: 1px solid #e0e0e0;
  margin-bottom: 20px;
  padding: 10px;
  color: #212529;
  border-radius: .25rem;
  overflow: auto;
}

#course-droppable {
  width: 100%;
  height: 110px;
  border: 1px solid #e0e0e0;
  margin-bottom: 20px;
  padding: 10px;
  color: #212529;
  border-radius: .25rem;
  overflow: auto;
}

.ui-accordion .ui-accordion-content {
  padding-right: 0px !important;
  padding-top: 0px !important;

}

#competency-space {
  max-height: 100%;
  height: 100%;
  /*border: 1px solid #000000;*/
}

#user-accordion {
  /* max-height: 100%;
  height: 100%;
  overflow:hidden; */
  padding-left: 20px;
}

.business-role-accordion {

}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 0px !important;
  border-bottom: 1px solid #000000 !important;
}

.ui-widget-content {
  border: 0px !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 0px;
  border-bottom: 1px solid #000000 !important;
  background: #ffffff;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 0px !important;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 0px !important;
}

#immediate:hover,
#approaching:hover,
#distant:hover {
 cursor: help;
}
